/* .Navbar {
    text-align: center;
    color: #333;
    margin: 0;
    margin-bottom: 0;
    height: 50px;
    background-color:aqua;
    width: 100%;
  }

.navbar-brand {
text-align: center;
color: #333;
margin: 0;
margin-bottom: 0;
height: 50px;
background-color:aqua;
width: 100%;
} */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
  background-color: rgb(173, 123, 123);
  height: 50px;
}

li {
  float: left;
}

.lien {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}