@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');

* {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0px auto;
  height: 50px;
  padding: 1rem 0;
  border-bottom: solid 1px #ddd;
  background-color:#e68ba5;
}

.logo{
  text-decoration: none;
  font-size: 2.2rem;
  text-transform: uppercase;
  font-weight: bold;
  color: #0c0cc0;
}
.liens{
  display: flex;
  list-style: none;
}

.liens li{
  margin-left: 3rem;
}

.liens li a{
  text-decoration: none;
  font-size: 1.2rem;
  color: #4b4a4a;
}

.liens li a:hover {
  color: #6b3305;
   
}